.ruby-gemset
.*.swo
.*.swp
.*.un~
.DS_Store
.bundle
.idea
.pry_history
.rubocop.yml
.rvmrc
VERSION
atlassian-ide-plugin.xml
cache/*.dump
config/database.yml*
coverage
db/*.db
db/*.sqlite3
doc/*
html
log/*.db
log/*.log
log/*.pid
pkg/
public/doc/
rainbows.conf
ruote_work
tags
test/cache/
test/reports/
tmp/
tmtags
vendor/
.tags
.tags_sorted_by_file
